# Исключение виртуального окружения
venv/
env/

# Файлы конфигурации IDE
.idea/
.vscode/

# База данных SQLite
db.sqlite3

# Логи и временные файлы
*.log
*.pyc
__pycache__/

# Миграции (если вы не хотите их коммитить)
*/migrations/__pycache__/
*/migrations/*.py

# Файлы настройки среды
.env
.env.*

# Секреты и ключи
*.pem
*.crt
*.key

# Статические и медиафайлы (если генерируются на сервере)
staticfiles/
media/
